body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

:root {
  --primary: #255c8d;

  --foreground: #000;
  --background: #fff;
  --secondaryText: #555555;
  --success: #2e8540;
  --await: #f57600;
  --danger: #da3333;
}
