.Title {
  color: var(--foreground);
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
  
  &--small {
    font-size: 1rem;
  }
  
  &--medium {
    font-size: 1.5rem;
    // margin-bottom: 1rem;
  }
  
  &--large {
    font-size: 2rem;
    // margin-bottom: 1.5rem;
  }
  
  &--xlarge {
    font-size: 2.5rem;
    // margin-bottom: 2rem;
  }

    &--xxlarge {
    font-size: 4rem;
    // margin-bottom: 2rem;
  }
}


@media (max-width: 780px) {
.Title {  
  &--small {
    font-size: 0.75rem;
  }
  
  &--medium {
    font-size: 1rem;
    // margin-bottom: 1rem;
  }
  
  &--large {
    font-size: 1.5rem;
    // margin-bottom: 1.5rem;
  }
  
  &--xlarge {
    font-size: 1.75rem;
    // margin-bottom: 2rem;
  }

    &--xxlarge {
    font-size: 2.25rem;
    // margin-bottom: 2rem;
  }
}
}