.Header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: fit-content;
  min-height: 3rem;
  background: var(--background);
  padding: 0.5rem;
  gap: 1rem;
  display:flex;
  flex-flow:column;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.Content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 1em;
}

.Icon {
  border-radius: 50px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: var(--primary);
  color: white;
}

.Link {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.MobileLinksContainer {
  background: var(--background);
  display:grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1rem;
  justify-content: center;
  border: 2px solid var(--primary);
  border-radius: 8px;
  top: 4rem;
  width: 100%;
}

@media (max-width: 780px) {
  .Icon{
    display:none;
  }
}